
body {
	position: relative;
	font-family: "Titillium Web", sans-serif;
	max-width: 100%;
	overflow-x: hidden;
	
}

header,main,footer {
	max-width: 100%;
}

header {
	height: auto;
	background: #87509C;
	color: #fff;
	margin-top: -7%;

}

.header__container {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 54;
	background: #87509C;
	margin-top: 4.9%;

}

.header__logo {
	display: inline-block;
	position: relative;
	left: 20%;
	top: 1em;
}

.header__logo img {
	max-width: 100%;
	height: auto;
}

nav {
	float: right;
	width: 40%;
}


nav ul li {
	display: inline-block;
	width: 100px;
}

nav a {
	text-decoration: none;
	color: #fff;
}



.header__logo_home,
.header__logo_work,
.header__logo_blog,
.header__logo_about,
.header__logo_contact {
	width: 50px;
	height: 30px;
	border-radius: 5px;
	padding: 10% 20% 0 37.5%;
	
}

.header__logo_home span,
.header__logo_work span,
.header__logo_about span {
	position: relative;
	left: -10%;
}

.header__logo_contact span {
	position: relative;
	left: -30%;
}


nav ul div:hover {
	background: #643A79;
}

h1 {
	text-align: center;
	padding: 15% 0 0 0;
	font-size: 3vw;
}

header button {
	width: 15.625%;
	height: 75px;
	background: #EB7D4B;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
	border: none;
	margin: 3.125% 10.4166666666667% 5.208333333333% 41.666666666667%;
	-webkit-box-shadow: 0px 9px 0px 0px rgba(199,106,67,1);
	-moz-box-shadow: 0px 9px 0px 0px rgba(199,106,67,1);
	box-shadow: 0px 5px 0px 0px rgba(199,106,67,1);
}

header button:hover {
	background: #FF8851;
	cursor: pointer;
}

.main__services {
	width: 100%;
	height: auto;
	background: #17C2A4;
	color: #fff;
	margin-top: -2%;
	position: relative;
}


.main__services h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
}

.main__services p {
	margin-bottom: 5%;
	line-height: 1.2em;
	font-size: 1.2vw;
}

.underline__services {
	width: 5%;
	height: .3em;
	background: #14A58C;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__services__container {
	max-width: 80%;
	display: flex;
	justify-content: space-around;
	position: relative;
	left: 10%;

}


.main__services__branding img,
.main__services__design img,
.main__services__development img,
.main__services__rocketScience img  {
	width: 50%;
}

.main__services__container h3 {
	text-align: center;
	font-size: 1.5vw;
}

.main__services__container p,
.main__services {
	text-align: center;
	font-size: 1.2vw;
	padding-bottom: 3%;
}

.main__team {
	width: 100%;
	height: auto;
	background: #E7F1F8;
	margin-top: -2%;

}

.main__team h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #000;
}

.main__team p {
	text-align: center;
	font-size: 1.2vw;
	color: #000;
	padding: 0 0 70px 0;
	line-height: 1.2em;
}

.underline__team {
	width: 5%;
	height: .3em;
	background: #C8D9E5;
	border-radius: 5px;
	margin: 0 auto;
}

.main__team__container {
	width: 70%;
	left: 15%;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.main__team__member {
	width: 25%;
}

.main__team__member img {
	max-width: 50%;
	height: auto;
	margin-left: 25%;
}

.main__team__member h2 {
	color: #000;
	font-size: 1.8vw;
	text-align: center;
	margin: 10% 0 -10% 0;
}

.main__team__member h3 {
	color: #3CBEE8;
	font-size: 1.2vw;
	text-align: center;
	margin-top: 10%;
}



.main__team__member p{
	color: #000;
}

.facebook,
.twitter,
.linkedin,
.email {
	width: 25px;
	height: 25px;
	background: url(../img/spritesheet.png) 7px -2px no-repeat;	
}

.twitter {
	background: url(../img/spritesheet.png) -68px 1px no-repeat;
}

.linkedin {
	background: url(../img/spritesheet.png) -15px -2px no-repeat;
}

.email {
	background: url(../img/spritesheet.png) -41px 2px no-repeat;
}

.main__team__member__foto__facebook:hover,
.main__team__member__foto__email:hover,
.main__team__member__foto__twitter:hover,
.main__team__member__foto__linkedin:hover {
	opacity: .5;
}

.main__team__member__foto__twitter,
.main__team__member__foto__linkedin,
.main__team__member__foto__email,
.main__team__member__foto__facebook {
	width: 12%;
	height: auto;
	background: #BDD1DF;
	border-radius: 100%;
	display: inline-block;
}

.main__team__member__socialsContainer {
	display: flex;
	justify-content: space-around;
	width: 80%;
	position: relative;
	left: 10%;
	top: -15%;
}

.main__team__member__socialsContainer1 {
	display: flex;
	justify-content: space-around;
	width: 80%;
	position: relative;
	left: 10%;
	top: -15%;
}


.main__skills {
	width: 100%;
	height: auto;
	background: #fff;
	color: #000;
}


.main__skills   h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 2% 0 0 0;
	
}

.underline__skills {
	width: 5%;
	height: .3em;
	background: #C8D9E5;
	border-radius: 5px;
	margin: 0 auto;
}

.main__skills p {
	text-align: center;
	font-size: 1.2vw;
	padding: 0 0 70px 0;
}


.main__skills__container {
	width: 70%;
	left: 15%;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.main__skills__webDesign__title {
	position: relative;
	left: 17%;
}

.progress_skills {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #30BAE7;
}

.progress_skills::before {
  position: absolute;
  content: '';
  background-color: #30BAE7;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 170px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(270deg);
  z-index: 1;
}

.progress_skills::after {
  position: absolute;
  content: '';
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

.progress_skills .center_skills {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.percent {
	color: #000;
	font-size: 4em;
	position: relative;
	top: 27%;
	left: 25%;
}

.percent span {
	display: inline-block;
	font-size: .7em;
}

.main__skills__htmlCss__title {
	position: relative;
	left: 20%;
}

.progress_htmlCss {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #D74680;
}

.progress_htmlCss::before {
  position: absolute;
  content: '';
  background-color: #D74680;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(270deg);
  z-index: 1;
}

.progress_htmlCss::after {
  position: absolute;
  content: '';
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

.progress_htmlCss .center_htmlCss {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
 
.main__skills__graphicDesign__title {
	position: relative;
	left: 10%;
}

.progress_graphicDesign {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #15C7A8;
}

.progress_graphicDesign::before {
  position: absolute;
  content: '';
  background-color: #15C7A8;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 90px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(270deg);
  z-index: 1;
}

.progress_graphicDesign::after {
  position: absolute;
  content: '';
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

.progress_graphicDesign .center_graphicDesign {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.main__skills__UIUX__title {
	position: relative;
	left: 35%;
}


.progress_UIUX {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #EB7D4B;
}

.progress_UIUX::before {
  position: absolute;
  content: '';
  background-color: #EB7D4B;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 160px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(270deg);
  z-index: 1;
}

.progress_UIUX::after {
  position: absolute;
  content: '';
  background-color: gray;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0, 100px, 200px, 0);
  transform-origin: 50% 50%;
  transform: rotate(0deg);
}

.progress_UIUX .center_UIUX {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.main__portfolio {
	background: #FFDD99;
	position: relative;
	width: 100%;
	height: auto;
	color: #000;
}

.main__portfolio   h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #000;
}

.underline__portfolio {
	width: 5%;
	height: .3em;
	background: #E5C37F;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__portfolio p {
	text-align: center;
	font-size: 1.2vw;
	color: #000;
	padding: 0 0 70px 0;
}



.main__portfolio__menu {
	position: absolute;
	left: 40%;
	top: 22%;
	
}

.main__portfolio__menu button {
	width: 80px;
	height: 40px;
	border-radius: 10%;
	border: none;
	background: #EBC985;
	margin-left: 5px;
	color: #000;
	font-size: .8vw;
}

.main__portfolio__menu button:hover {
	background: #fff;
	cursor: pointer;
	
}


.main__portfolio__container {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.main__portfolio__container figcaption {
	text-align: center;
	font-size: 1.3em;
	margin-top: 2%;
	margin-bottom: 2%;
}

.main__portfolio__container figure img {
	transition: 1s;
	max-width: 100%;
	height: auto;
}

.main__portfolio__container figure img:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.portfolioButton {
	min-width: 15%;
	height: 50px;
	margin-left: 41%;
	margin-bottom: 5%;
	color: #fff;
	font-size: 1vw;
	border: none;
	border-radius: 3%;
	background: #17C2A4;
	-webkit-box-shadow: 0px 9px 0px 0px rgba(20,165,140,1);
	-moz-box-shadow: 0px 9px 0px 0px rgba(20,165,140,1);
	box-shadow: 0px 5px 0px 0px rgba(20,165,140,1);
}

.portfolioButton:hover {
	background: #19D8B5;
	cursor: pointer;
}

.main__aboutUs {
	width: 100%;
	height: auto;
	background: #D74680;
	margin-top: -5%;
}

.main__aboutUs   h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 10% 0 0 0;
	color: #fff;
}

.underline__aboutUs {
	width: 5%;
	height: .3em;
	background: #B73C6D;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__aboutUs p {
	text-align: center;
	font-size: 1.2vw;
	color: #fff;
	padding: 0 0 70px 0;

}



.main__aboutUs__container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	left: 13%;
	padding-bottom: 5%;
}


.main__aboutUs__avatar {
	max-width: 30%;
	height: 30%;
	margin-left: -6%;
	margin-top: 10%;
}


.main__aboutUs__Pinterest p,
.main__aboutUs__Instagram p,
.main__aboutUs__Behance p,
.main__aboutUs__Shazam p {
	display: inline-block;
	font-style: italic;
	font-size: 1.3vw;
	text-align: left;
	margin-left: 1%;
	margin-right: 3%;
}

.main__aboutUs__Pinterest h4,
.main__aboutUs__Instagram h4,
.main__aboutUs__Behance h4,
.main__aboutUs__Shazam h4 {
	font-size: 2vw;
	margin: -12% 0 2% 19%;
}


.main__aboutUs__Pinterest h5,
.main__aboutUs__Instagram h5,
.main__aboutUs__Behance h5,
.main__aboutUs__Shazam h5 {
	font-size: 1.5vw;
	color: #FAC996;
	margin: -1% 0 2% 19%;
}

footer {
	background: #3C5499;
	width: 100%;
	height: auto;
	margin-top: -2%;
}


.footer__upper   h2 {
	text-align: center;
	font-size: 2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #fff;
}

.underline__footer {
	width: 5%;
	height: .3em;
	background: #273A71;
	border-radius: 5px;
	margin: 0 auto;
}

.footer__upper p {
	text-align: center;
	font-size: 1.2vw;
	color: #fff;
	padding: 0 0 70px 0;

}


.form-style {
    max-width: 750px;
    padding: 30px;
    margin: 50px auto;
}

.form-style input,textarea {
	font-size: 1.2vw;
}

.form-style ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style ul li .field-style {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-style ul li  .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}


.form-style ul li .field-split {
    width: 49%;
    background: #273A71;
    border: none;
    border-radius: 3%;
    height: 60px;
    margin-bottom: 20px;
}

.form-style ul li .field-full {
    width: 100%;
}

.form-style ul li input.align-left {
    float: left;
}

.form-style ul li input.align-right {
    float: right;
}

.form-style ul li textarea {
    width: 100%;
    height: 250px;
    background: #273A71;
    border-radius: 1%;
}

.form-style ul li input[type="button"], 
.form-style ul li input[type="submit"] {
    -moz-box-shadow: 0px 5px 0px 0px #299EC5;
    -webkit-box-shadow: 0px 5px 0px 0px #299EC5;
    box-shadow: 0px 5px 0px 0px #299EC5;
    background-color: #30BAE7;
    border: none;
    border-radius: 3%;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 20px 75px 20px 75px;
    text-decoration: none;
    font: 24px Titillium Web, Arial, Helvetica, sans-serif;
    position: relative;
    left: 200px;
    top: 30px;
}

.form-style ul li input[type="button"]:hover, 
.form-style ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.form-style input[placeholder],
textarea[placeholder] {
	color: #fff;
}


input::-webkit-input-placeholder {
	color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
input:-ms-input-placeholder {  
	color: #fff !important;  
}

textarea::-webkit-input-placeholder {
	color: #fff !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
textarea:-ms-input-placeholder {  
	color: #fff !important;  
}

.footer__lower {
	width: 100%;
	height: auto;
	background: #344B8E;
	position: relative;
}

.footer__lower a {
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	margin-top: 30px;
	padding-right: 3%;
	padding-bottom: 3%;
	display: inline-block;
}

.footer__lower a:hover {
	color: #30BAE7;
}

.footer__lower__container {
	width: 60%;
	position: relative;
	left: 28%;
}
