
body {
	font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}


header {
	height: auto;
	margin-bottom: -2.2rem;
	background: #87509C;
	color: #fff;
	margin-top: -2.1%;
}


.header__nav {
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 54;
	background: #87509C;
	-webkit-box-shadow: 2px 2px 20px 2px #000;
	        box-shadow: 2px 2px 20px 2px #000;
}

.header__logo {
	float: left;
	margin-top: 1em;
	margin-left: 2em;
}

.header__logo img {
	max-width: 100%;
	height: auto;
}

nav {
	float: right;
	min-width: 40%;
	margin-right: 2%;
}


nav ul li {
	display: inline-block;
	min-width: 100px;
}

nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1em;
}

.header__logo_home,
.header__logo_work,
.header__logo_team,
.header__logo_about,
.header__logo_contact {
	width: 90%;
	height: auto;
	border-radius: 5px;
	padding: 10% 10% 10% 0;
}

.header__logo_contact {
	width: 80%;
	padding: 10% 20% 10% 0;
}


.header__logo_home span,
.header__logo_work span,
.header__logo_about span,
.header__logo_team span {
	position: relative;
	left: 30%;
}

.header__logo_contact span {
	position: relative;
	left: 25%;
}


nav ul div:hover {
	background: #643A79;
}

nav ul div:active {
	background: #9F5FB8;
}

h1 {
	text-align: center;
	padding: 15% 0 0 0;
	font-size: 3vw;
}

header button {
	background: #EB7D4B;
	font-size: 2vw;
	color: #fff;
	border-radius: 3px;
	border: none;
	padding: 1% 1.5%;
	margin: 3% 10% 5% 40%;
	-webkit-box-shadow: 0px 9px 0px 0px rgba(199,106,67,1);
	box-shadow: 0px 5px 0px 0px rgba(199,106,67,1);
}

header button:hover {
	background: #FF8851;
	cursor: pointer;
}

header button:active {
	background: rgb(197, 109, 68);
}

.main__services {
	height: auto;
	background: #17C2A4;
	color: #fff;
	margin-bottom: -2.1rem;
}


.main__services h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
}

.main__services p {
	padding-bottom: 5%;
	font-size: 1.6em;
}

.underline__services {
	width: 5%;
	height: .3em;
	background: #14A58C;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__services__container {
	max-width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	position: relative;
	left: 10%;
}

.main__services__container img {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.main__services__container img:hover {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 30px 15px inset gainsboro;
	        box-shadow: 1px 1px 30px 15px inset gainsboro;
	border-radius: 10px;
}

.main__services__branding,
.main__services__design,
.main__services__development,
.main__services__rocketScience {
	width: 25%;
	margin-right: 1%;
}

.main__services__branding img,
.main__services__design img,
.main__services__development img,
.main__services__rocketScience img  {
	max-width: 50%;
	height: auto;
}

.main__services__container h3 {
	text-align: center;
	font-size: 1.5vw;
}

.main__services__container p,
.main__services {
	text-align: center;
	font-size: 1.2vw;
	padding-bottom: 3%;
}

.main__team {
	height: auto;
	background: #E7F1F8;
}

.main__team h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #000;
}

.underline__team {
	width: 5%;
	height: .3em;
	background: #C8D9E5;
	border-radius: 5px;
	margin: 0 auto;
}

.main__team p {
	text-align: center;
	font-size: 1.6vw;
	color: #000;
	padding-bottom: 5%;
}

.main__team__container {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 90%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 5%;
}

.main__team__member {
	width: 25%;
	margin-right: 1%;
}

.main__team__member img {
	width: 40%;
	height: auto;
	margin-left: 30%;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.main__team__member > img:hover {
	-webkit-box-shadow: 1px 1px 10px 10px;
	        box-shadow: 1px 1px 10px 10px;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}


.main__team__member h2 {
	color: #000;
	font-size: 1.8vw;
	text-align: center;
	margin: 5% 0 -10% 0;
}

.main__team__member h3 {
	color: #3CBEE8;
	font-size: 1.5vw;
	text-align: center;
	margin-top: 10%;
}

.main__team__member p {
	color: #000;
	font-size: 1.2vw;
}

.main__team__member__socialsContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 100%;
	margin-top: -5%;
	padding-bottom: 5%;
}

.main__team__member__socialsContainer1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 77%;
	margin-top: -5%;
	margin-left: 12%;
}

.main__team__member__foto__twitter,
.main__team__member__foto__linkedin,
.main__team__member__foto__email,
.main__team__member__foto__facebook {
	width: 100%;
	height: auto;
	display: inline-block;
}

.main__team__member__foto__facebook:hover,
.main__team__member__foto__email:hover,
.main__team__member__foto__twitter:hover,
.main__team__member__foto__linkedin:hover {
	opacity: .5;
}

.main__skills {
	height: auto;
	background: #fff;
	color: #000;
}


.main__skills h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 2% 0 0 0;
	
}

.underline__skills {
	width: 5%;
	height: .3em;
	background: #C8D9E5;
	border-radius: 5px;
	margin: 0 auto;
}

.main__skills p {
	text-align: center;
	font-size: 1.6vw;
	padding: 0 0 70px 0;
}


.main__skills__container {
	max-width: 70%;
	left: 15%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}



.main__skills__webDesign,
.main__skills__htmlCss,
.main__skills__UIUX,
.main__skills__graphicDesign {
	width: 25%;
}

.main__skills__container img {
	max-width: 70%;
	height: auto;
	margin-left: 16%;

}

.main__skills__graphicDesign img {
	margin-left: 16%;
}

.main__skills__container figcaption {
	font-size: 1.4vw;
	text-align: center;
}

.main__skills__UIUX figcaption {
	margin-top: -4%;
}

.main__portfolio {
	background: #FFDD99;
	height: auto;
	color: #000;
	margin-bottom: -2.3rem;
}

.main__portfolio h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #000;
}

.underline__portfolio {
	width: 5%;
	height: .3em;
	background: #E5C37F;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__portfolio p {
	text-align: center;
	font-size: 1.6vw;
	color: #000;
	padding: 0 0 70px 0;
}

.main__portfolio__menu {
	margin-left: 37%;
	margin-top: -3%;
	width: 30%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main__portfolio__menu button {
	width: 20%;
	height: auto;
	padding: 2%;
	border-radius: 10%;
	border: none;
	background: #EBC985;
	margin-left: 5px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	font-size: 1.2vw;
}

.main__portfolio__menu button:hover {
	background: #fff;
	cursor: pointer;
}

.main__portfolio__menu button:active {
	background: rgb(207, 161, 67);
}

.main__portfolio__container {
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: relative;
	left: 5%;
}

.main__portfolio__container figcaption {
	text-align: center;
	font-size: 1.3em;
	margin-top: 2%;
	margin-bottom: 2%;
}

.main__portfolio__container figure img {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
	max-width: 100%;
	height: auto;
}

.main__portfolio__container figure img:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	cursor: pointer;
}

.portfolioButton {
	min-width: 15%;
	height: auto;
	padding: 1%;
	margin-left: 41%;
	margin-bottom: 5%;
	color: #fff;
	font-size: 1vw;
	border: none;
	border-radius: 3%;
	background: #17C2A4;
	-webkit-box-shadow: 0px 9px 0px 0px rgba(20,165,140,1);
	box-shadow: 0px 5px 0px 0px rgba(20,165,140,1);
}

.portfolioButton:hover {
	background: #19D8B5;
	cursor: pointer;
}

.main__aboutUs {
	height: auto;
	background: #D74680;
	margin-bottom: -2.3rem;
}



.main__aboutUs h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #fff;
}

.underline__aboutUs {
	width: 5%;
	height: .3em;
	background: #B73C6D;
	border-radius: 5px;
	margin: 0 auto;
	
}

.main__aboutUs p {
	text-align: center;
	font-size: 1.6vw;
	color: #fff;
}

.main__aboutUs__container {
	width: 90%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	position: relative;
	left: 5%;
	padding-bottom: 5%;
}


.main__aboutUs__avatar {
	max-width: 30%;
	height: 30%;
	margin-top: 10%;
	display: inline-block;
}


.main__aboutUs__Pinterest,
.main__aboutUs__Behance,
.main__aboutUs__Instagram,
.main__aboutUs__Shazam {
	min-width: 40%;
}

.main__aboutUs__Pinterest p,
.main__aboutUs__Instagram p,
.main__aboutUs__Behance p,
.main__aboutUs__Shazam p {
	display: inline-block;
	font-style: italic;
	font-size: 1.5vw;
	text-align: left;
}

.main__aboutUs__Pinterest h4,
.main__aboutUs__Instagram h4,
.main__aboutUs__Behance h4,
.main__aboutUs__Shazam h4 {
	font-size: 2.2vw;
	margin: -2% 0 2% 17%;
}


.main__aboutUs__Pinterest h5,
.main__aboutUs__Instagram h5,
.main__aboutUs__Behance h5,
.main__aboutUs__Shazam h5 {
	font-size: 1.5vw;
	color: #FAC996;
	margin: -1% 0 -22% 17%;
}

footer {
	background: #3C5499;
	height: auto;
}

.footer__upper h2 {
	text-align: center;
	font-size: 2.2vw;
	letter-spacing: 5px;
	padding: 5% 0 0 0;
	color: #fff;
}

.underline__footer {
	width: 5%;
	height: .3em;
	background: #273A71;
	border-radius: 5px;
	margin: 0 auto;
}

.footer__upper p {
	text-align: center;
	font-size: 1.6vw;
	color: #fff;
	padding: 0 0 5% 0;
}

.form-style {
    max-width: 750px;
    padding: 30px;
    margin: 50px auto;
}

.form-style input,textarea {
	font-size: 1.2em;
}

.form-style ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}

.form-style ul li .field-style {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-style ul li  .field-style:focus {
    -webkit-box-shadow: 0 0 5px #B0CFE0;
            box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
}


.form-style ul li .field-split {
    width: 49%;
    background: #273A71;
    border: none;
    border-radius: 3%;
    height: 60px;
    margin-bottom: 20px;
}

.form-style ul li .field-full {
    width: 100%;
}

.form-style ul li input.align-left {
    float: left;
}

.form-style ul li input.align-right {
    float: right;
}

.form-style ul li textarea {
    width: 100%;
    height: 250px;
    background: #273A71;
    border-radius: 1%;
}

.form-style ul li input[type="button"], 
.form-style ul li input[type="submit"] {
    -webkit-box-shadow: 0px 5px 0px 0px #299EC5;
    box-shadow: 0px 5px 0px 0px #299EC5;
    background-color: #30BAE7;
    border: none;
    border-radius: 3%;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 2% 7% 2% 7%;
    text-decoration: none;
    font: 24px Titillium Web, Arial, Helvetica, sans-serif;
    position: relative;
    left: 30%;
    top: 30px;
}

.form-style ul li input[type="button"]:hover, 
.form-style ul li input[type="submit"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #2D77A2), to(#337DA8));
    background: -webkit-linear-gradient(top, #2D77A2 5%, #337DA8 100%);
    background: -o-linear-gradient(top, #2D77A2 5%, #337DA8 100%);
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}

.form-style input[placeholder],
textarea[placeholder] {
	color: #fff;
}


input::-webkit-input-placeholder {
	color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
input:-ms-input-placeholder {  
	color: #fff !important;  
}

textarea::-webkit-input-placeholder {
	color: #fff !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
 
textarea:-ms-input-placeholder {  
	color: #fff !important;  
}

.footer__lower {
	height: auto;
	background: #344B8E;
}

.footer__lower a {
	color: #fff;
	text-decoration: none;
	font-size: 1.6vw;
	padding-top: 1%;
	padding-right: 3%;
	padding-bottom: 1%;
	display: inline-block;
}

.footer__lower a:hover {
	color: #30BAE7;
}

.footer__lower a:active {
	color: #305AE7;
}

.footer__lower__container {
	min-width: 70%;
	height: auto;
	margin-left: 22%;
}