@media only screen and (max-width : 1700px) {

.main__skills__container figcaption {
	margin-left: 10%;
}

}

@media only screen and (max-width : 1550px) {

.main__skills__container figcaption {
	margin-left: 15%;
}

.main__skills__graphicDesign figcaption {
	min-width: 100%;
	margin-left: 10%;
}

}

@media only screen and (max-width : 1400px) {

.main__skills__container figcaption {
	margin-left: 15%;
}

.main__skills__graphicDesign figcaption {
	margin-left: 10%;
}

.main__skills__container {
	margin-left: 13%;
}

}

@media only screen and (max-width : 1300px) {

.main__skills__webDesign figcaption,
.main__skills__htmlCss figcaption,
.main__skills__UIUX figcaption {
	margin-left: 11%;
	min-width: 100%;
}

.main__skills__graphicDesign figcaption {
	margin-left: 10%;
}

}

@media only screen and (max-width : 1100px) {

.main__skills__webDesign figcaption,
.main__skills__htmlCss figcaption,
.main__skills__UIUX figcaption {
	margin-left: 15%;
}

.main__skills__graphicDesign figcaption {
	margin-left: 15%;
}


}

@media only screen and (max-width : 1050px) {

.main__skills__container {
	flex-wrap: wrap;
}

.main__skills__webDesign figcaption,
.main__skills__htmlCss figcaption,
.main__skills__UIUX figcaption {
	margin-left: 23%;
}

.main__skills__graphicDesign figcaption {
	margin-left: 20%;
}

}


@media only screen and (max-width : 834px) {

.main__team__container {
	width: 90%;
	flex-wrap: wrap;
}

.main__team__member {
	width: 48%;
}

.main__team__member h2 {
	font-size: 3vw;
}

.main__team__member h3 {
	font-size: 2.3vw;
}

.main__team__member p {
	font-size: 1.8vw;
}

.main__team__member__socialsContainer {
	width: 80%;
	margin-left: 10%;
}

.main__team__member__socialsContainer1 {
	width: 63%;
	margin-left: 18%;
}

.main__skills__container {
	margin-left: 10%;
}

}